body {
    background-color: #000000; 
    color:oklab(87.131% -0.02016 0.17728 / 0) ;
    font-family: "Bitcount Single Ink" , sans-serif;
}

header{
    border: solid 2px #000000;
font-size: 32px;
padding: 10px;
color: azure;
}
section{
    background-color: #ea8400;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1 {

    font-size: 30px ; /*tamanho da fonte*/
    text-align: center; /*centralizando*/
    text-transform: uppercase; /*letras maiusculas*/
}
p {
    font-size: 16px;
    color: rgb(236, 138, 9);
}