body {
    background-color: #ffe600; 
    color:oklab(89.07300000000001% -0.01977 0.18217 / 0) ;
}

header{
    border: solid 2px #000000;
font-size: 32px;
padding: 10px;
color: azure;
}

h1 {

    font-size: 30px ; /*tamanho da fonte*/
    text-align: center; /*centralizando*/
    text-transform: uppercase; /*letras maiusculas*/
}
p {
    font-size: 16px;
    color: rgb(236, 138, 9);
}